.credential_container {
    width: 350px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 4px 6px hsla(0, 1%, 38%, 0.631);
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
  }
  
  .cal_con {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cal_con h5 {
    margin: 0;
  }
  
  .age_con {
    margin-bottom: 15px;
  }
  
  .age_con label {
    display: block;
    margin-bottom: 5px;
  }
  
  .age_con input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .gender {
    margin-bottom: 20px;
  }
  
  .gender h5 {
    margin: 0;
    text-align: center;
  }
  
  .holder___ {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 5px;
  }
  
  .holder___ button {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    background-color: rgb(238, 236, 236);
    gap: 5px;
  }

  .holder___ button:hover {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: teal;
    gap: 5px;
  }
  
  .Direction {
    text-align: center;
  }
  
  .Direction button {
    background-color: #1A8D8D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Direction button:hover {
    background-color: white;
    color: teal;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid gray
  }