.App {
  text-align: center;
  color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.h4{
  margin-left: 300px;
  margin-top: 70px;
}
.search-container {
  position: relative;
  width: 600px;
  margin-left: 300px;
  margin-top: 80px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000; /* Set the color to black */
  cursor: pointer;
  filter: grayscale(100%); /* Convert the icon to black and white */
}
.box {
  height: 300px;
  width: 500px;
  background-color: #fbfbfb;
  margin-left: 300px;
  margin-top: 50px;

}
.box-p{
  padding: 20px;
}
.box-h1{
  padding-left: 20px;
}
.box-input{
  
  margin-left: 20px;
}
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc; /* Keep the bottom border */
  outline: none; /* Optional - removes the outline when the input is focused */
}
.box-select{
  margin-left: 20px;
}
.small-box-div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}
.small-box{
  height: 100px;
  width: 100px;
  /* background-color:; */
}
.button-div{
  margin-top: 50px;
  margin-left: 300px;
}
.button{
  text-decoration: none;
  /* border: 1px solid black; */
  padding: 10px 30px;
  background-color: teal;
  color: white;
  border-radius: 10px;
}