.meal-info p {
    color: #6E767E;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.meal-info h1 {
    color: #000;
font-family: Nunito Sans;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.meal-info {
    text-align: left;
    margin: 20px;
  }
  
  .meal-name {
    font-weight: bold;
    text-align: left;
  }
  
  .total-calories {
    text-align: right;
  }
  
  .food-table {
    width: 70%;
    
    border-collapse: collapse;

  }
  
  .food-table th,
  .food-table td {
    border-bottom: 1px solid lightgray;
    padding: 20px;
    color: #000;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-color: #E5E5E5;
    
  }
  
  .food-table th {
    border-bottom: 1px solid black;
    color: #6E767E;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #E5E5E5; 
  }
  
  .total-row {
    display: inline-flex;
    height: 35px;
    padding: 10px 27px 26px 27px;
    margin-left: 10rem;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 5px;
background: #F5F5F5;
font-weight: bold;
margin-top: 10px;
  }
  
  .food-table input[type="number"] {
    width: 50px; /* Adjust the width to your preference */
    padding: 5px;
  }

 /* Match the select height with input height */
.food-table select {
    height: 30px; /* Match the height with input height */
    border: none; /* Remove the border */
  outline: none; /* Remove the outline on focus */
  }

  .search-container {
    text-align: left;
    margin: 20px;
  }

  .search-container p {
    color: #000;
font-family: "Nunito Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  
  .search-form {
    display: flex;
    align-items: center;

  }
  
  .search-input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 8px;
border: 1px solid #BDBDBD;
background: #FFF;
width: 55rem;
height: 3rem;
flex-shrink: 0;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-button{
    margin-left: -70px;
  }
