* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.resend-link{
    outline: none;
    border: none;
    background: none;
}
:focus {
    outline: none;
}


img {
    max-width: 100%;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#Signuplogo {
    position: relative;
    margin-left: -30vw;
}




.signup-form > .content {
    position: relative;
    height: 521px;
}

.inner {
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.image-holder {
    width: 50%;
}

.form-content {
    font-size: 13px;
    width: 70%;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 5vw;
    margin-top:15vh;
}

.form-header {
    text-align: center;
    width: 100%;
}

#SignUp-H3 {
    font-family: "Muli-SemiBold";
    font-size: 20px;
    color: #453e79;
    
}

.form-row {
    margin-bottom: 15px;
    width: 100%;
}
.form-row .take{
    margin-left: 30%;
}

    .form-row .form-holder.w-100 {
        width: 100%;
        margin-right: 0;
    }


.form-holder {
    position: relative;
}

    .form-holder i {
        position: absolute;
        bottom: 7px;
        right: 0;
        font-size: 9px;
    }

    .form-holder label {
        color: grey;
    }

.form-control {
    height: 33px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    color: black;
}

    .form-control:focus {
        border-color: #e9e0cf;
    }

    .form-control::-webkit-input-placeholder {
        color: #999;
    }

    .form-control::-moz-placeholder {
        color: #999;
    }

    .form-control:-ms-input-placeholder {
        color: #999;
    }

    .form-control:-moz-placeholder {
        color: #999;
    }



.checkbox-tick label {
    cursor: pointer;
    display: inline-block;
    padding-left: 23px;
    position: relative;
}

.checkbox-tick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

    .checkbox-tick input:checked ~ .checkmark {
        background: #999;
    }

        .checkbox-tick input:checked ~ .checkmark:after {
            display: block;
        }

.checkbox-tick .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid #999;
    border-radius: 50%;
    font-family: Material-Design-Iconic-Font;
    color: #fff;
    font-size: 11px;
}

    .checkbox-tick .checkmark:after {
        top: 0;
        left: 2px;
        position: absolute;
        display: none;
        content: '\f26b';
    }



@media (max-width: 991px) {
    .signup-form {
        max-width: 768px;
    }

    .image-holder img {
        height: 521px;
        object-fit: cover;
    }
}

@media (max-width: 912px) {
    .inner {
        display: block;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
    }

    .image-holder {
        width: 100%;
    }

        .image-holder img {
            width: 100%;
        }

    .form-content {
        width: 100%;
    }

    .form-row {
        display: block;
    }

        .form-row .form-holder, .form-row .select {
            width: 100%;
            margin-right: 0;
            margin-bottom: 18px;
        }

    .wrapper {
        height: 1201px;
        background: none;

    }

    .checkbox-circle {
        width: 100%;
    }

    .signup-form {
        height: 100%;
    }

        .signup-form > .steps {
            right: 50%;
            top: 52%;
            transform: translateX(50%);
        }

     
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 

.otp-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.otpInput {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin-left:1vw;
}

    .otpInput:focus {
        border-color: #2196f3;
    }

#palmfitName{
    margin-top:-20vh;
}